<!DOCTYPE html>
<html lang="jp">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style type="text/css">
    .container {
      margin-bottom: 3rem;
    }
  </style>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
--
<footer>
  <a href="https://satou.jp/">satou</a><br>
  お問い合わせ: support@satou.jp
</footer>
</body>
</html>
